<div class="content-section">
  <h3>CONNECTION STATUS</h3>
  <ul class="list-group">
    <li class="list-group-item list-group-item-light">
      Web App:
      <svg height="20" width="20">
        {% if app_connected %}{% include 'green-circle.html' %}{% else %}{%
        include 'red-circle.html' %}{% endif %}
      </svg>
    </li>
    <li class="list-group-item list-group-item-light">
      Circuit Handler:
      <svg height="20" width="20">
        {% if handler_connected %}{% include 'green-circle.html' %}{% else %}{%
        include 'red-circle.html' %}{% endif %}
      </svg>
    </li>
    {% for chkpt, connected in chk_connected.items() %}
    <li class="list-group-item list-group-item-light">
      {{ chkpt }}:
      <svg height="20" width="20">
        {% if connected %}{% include 'green-circle.html' %}{% else %}{%
        include 'red-circle.html' %}{% endif %}
      </svg>
    </li>
    {% endfor %}
  </ul>
</div>
