{% extends 'layout.html' %} {% block content %}

<!-- from Bootstrap website, jumbotron examples -->
<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <svg
      class="bi mt-4 mb-3"
      style="color: var(--bs-indigo)"
      width="512"
      height="512"
    >
      <image
        href="{{ url_for('static', filename='guard.svg') }}"
        height="512"
        width="512"
      />
    </svg>
    <h1 class="text-body-emphasis">SENTRY WATCH</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      This is the web interface for the sentry monitoring system.<br />
      &bull; Create and view daily sentry circuits.<br />
      &bull; Assign ID cards to sentries-on-duty.<br />
      &bull; Register sentries.<br />
      &bull; Register ID cards.<br />
    </p>
    {% if current_user.is_authenticated %}
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-column gap-2 mb-5">
          <a
            class="align-items-center btn btn-primary btn-lg px-4 my-4 rounded-pill"
            href="{{ url_for('view_current_route') }}"
          >
            View Circuit
          </a>
          <a
            class="btn btn-outline-secondary btn-lg px-4 my-4 rounded-pill"
            href="{{ url_for('register_sentry') }}"
          >
            Register Sentries
          </a>
          <a
            class="btn btn-outline-secondary btn-lg px-4 my-4 rounded-pill"
            href="{{ url_for('register_card') }}"
          >
            Register Cards
          </a>
          <a
            class="btn btn-outline-secondary btn-lg px-4 my-4 rounded-pill"
            href="{{ url_for('handle_checkpoint') }}"
          >
            Checkpoints
          </a>
        </div>
      </div>
      <div class="col-md-6">{% include 'connection-status.html' %}</div>
    </div>
    {% endif %}
  </div>
  {% if not current_user.is_authenticated %} {% include 'login.html' %} {% endif
  %}
</div>
<div class="b-example-divider"></div>
{% endblock content %}
