<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- from Bootstrap website: https://getbootstrap.com -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if title %}
    <title>Platform - {{ title }}</title>
    {% else %}
    <title>Platform</title>
    {% endif %}

    <!-- CSS from Bootstrap website -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <!-- CSS from main.css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />

    <!-- JS library for socket programming -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% include 'nav.html' %}
    <main role="main" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {% if current_user.is_authenticated
      and alarm_triggered %}
      <div class="text-center">
        <button
          type="button"
          class="btn btn-danger rounded-pill"
          onclick="silence_alarm();"
        >
          Silence Alarm
        </button>
      </div>
      {% endif %} {% block content %}{% endblock content %}
    </main>

    {% include 'footer.html' %}

    <!-- JS from Bootstrap website -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"
    ></script>

    <!-- JS for displaying received MQTT messages -->
    <script type="text/javascript">
      var socket = io.connect("http://localhost:5000");

      const silence_alarm = () => {
        socket.emit("silence-alarm");
      };

      const show_alert_message = (alert_level, message) => {
        // Create a new alert message
        var alertMessage = document.createElement("div");
        alertMessage.classList.add(
          "alert",
          alert_level,
          "alert-dismissible",
          "fade",
          "show"
        );
        alertMessage.setAttribute("role", "alert");
        alertMessage.innerHTML = message;

        // Add the alert message to the top of the main element
        var main = document.getElementsByTagName("main")[0];
        main.insertBefore(alertMessage, main.firstChild);
      };

      // set a socket event to listen to and handle
      socket.on("alert-msgs", (data) => {
        show_alert_message(data.alert_level, data.message);
      });
    </script>
  </body>
</html>
