{% extends 'layout.html' %} {% block content %}
<h2>Shift Information</h2>
<article class="media content-section" style="max-width: 1000px">
  <div class="media-body">
    <p class="lead">Shift Start: {{ start|readable }}</p>
    <p class="lead">Shift End: {{ end|readable }}</p>
    <p class="lead">
      Shift Completed:
      <svg height="20" width="20" class="my-2">
        {% if completed %} {% include 'green-circle.html' %} {% else %} {%
        include 'red-circle.html' %} {% endif %}
      </svg>
    </p>
    <table class="table">
      <caption>
        <i>Shows how often a path is patrolled, combining all sentries</i>
      </caption>
      <thead class="bg-steel">
        <tr>
          <th scope="col" style="color: white; width: 100px">#</th>
          <th scope="col" style="color: white; width: 300px">Path</th>
          <th scope="col" style="color: white; width: 300px">
            Patrol Frequency
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for path in paths %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ path[0][0] }} - {{ path[0][1] }}</td>
          <td>{{ path[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</article>
<h2>On-Duty Sentry Circuits</h2>
{% for sentry in sentries %} {% set outer_loop = loop %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p class="my-2 article-title">
        <u>{{ sentry.name.upper() }}</u>
        <small class="text-muted px-2"
          >CARD ID: {{ sentry.card.upper() }}</small
        >
      </p>
    </div>
    <table class="table">
      <thead class="bg-steel">
        <tr>
          <th scope="col" style="color: white">#</th>
          <th scope="col" style="color: white">Checkpoint</th>
          <th scope="col" style="color: white">Check-in Time</th>
          <th scope="col" style="color: white">Check-in Status</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for route in sentry.route %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>
            ({{ route.checkpoint }}) {{
            sentry_routes[outer_loop.index0][loop.index0] }}
          </td>
          <td>{{ route.time|readable }}</td>
          <td>
            <svg height="20" width="20">
              {% if route.checked %} {% include 'green-circle.html' %} {% else
              %} {% include 'red-circle.html' %} {% endif %}
            </svg>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</article>
{% endfor %}
<div class="container text-center">
  <!-- from Bootstrap website, static modal -->
  <button
    type="button"
    class="btn btn-outline-danger rounded-pill"
    data-bs-toggle="modal"
    data-bs-target="#delete-shift"
  >
    Delete Shift
  </button>
</div>
<!-- Modal -->
<!-- from Bootstrap website, static modal -->
<div
  class="modal fade"
  id="delete-shift"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Deleting Shift...
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Delete Shift?</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary rounded-pill"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <form
          action="{{ url_for('delete_circuit', shift_id=shift_id) }}"
          method="POST"
        >
          <input
            class="btn btn-outline-danger rounded-pill"
            type="submit"
            value="Delete Shift"
          />
        </form>
      </div>
    </div>
  </div>
</div>
<!--end Modal-->

{% endblock content %}
